---
import GithubIcon from "./icons/Github.astro";
import LinkIcon from "./icons/Link.astro";

interface Props {
  data: {
    title: string;
    description: string;
    tags: {
      name: string;
      class: string;
      icon: (_props: Record<string, any>) => any;
    }[];
    image: string;
    link?: string;
    github: string;
  };
}

const { description, title, tags, link, image, github } = Astro.props.data;
---

<article
  class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
>
  <div class="w-full md:w-1/2">
    <div
      class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
    >
      <img
        class="object-cover object-center w-full h-48 transition duration-500 md:scale-110 md:group-hover:scale-105"
        src={image}
        alt={`Screenshot of ${title}`}
      />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
        {
          tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>
      <div class="mt-2 text-gray-400">
        {description}
      </div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
        <a
          href={github}
          rel="noopener noreferrer"
          target="_blank"
          class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
          <GithubIcon class="size-4" />
          Code
        </a>

        {
          link && (
            <a
              href={link}
              rel="noopener noreferrer"
              target="_blank"
              class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
            >
              <LinkIcon class="size-4" />
              Preview
            </a>
          )
        }
      </footer>
    </div>
  </div>
</article>
